
.card{
    margin: 36px;
    padding: 23px;
    background-color: #EDF1D6;
    color: black;
    border-radius: 7px;
    margin-left: 180px;
    width: 50%;
    box-shadow: rgba(233, 229, 229, 0.35) 0px 5px 15px;
}
.title{
    font-weight: bold;
}
.dates{
    font-family: italic;
}