.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fetchmovieButton{
  padding: 20px;
  margin-top: 38px;
  margin-bottom: 20px;
  width: 698px;
  border-radius: 20px;
  background-color: darkblue;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 1px solid;
  cursor: pointer;
}
.fetchmovieButton:hover{

  box-shadow:  0 4px 10px rgba(0, 0, 0, 26)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
